ultralytics==8.3.163
flask==3.1.1
python-dotenv==1.0.1
nest_asyncio==1.6.0
python-telegram-bot==22.2
opencv-python==4.12.0.88
torch==2.7.1          # CPU-сборка
torchvision==0.22.1   # CPU-сборка
psutil==7.0.0
